.vscode
.DS_Store
Tmp

# ignore latexmk temporary files
*.gz
*.zip
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.xdv
*.thm

# ignore compiled docuemnt within root
*.pdf
!shanghaitech.pdf
!shanghaitech_logo.pdf

# ignore font files
*.TTF
*.otf
Fonts/COPYING-Fandol.txt
Fonts/LICENSE-Source.txt
