.vscode/*
.DS_Store/
_minted*/
!.vscode/settings.json

# ignore latexmk temporary files
*.gz
*.zip
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.xdv
*.xml
*-converted-to.pdf
*.thm
*.lof
reference.bib
build*/
release*/

# ignore compiled docuemnt within root
*.pdf
!shanghaitech-emblem.pdf
!shtthesis-user-guide.pdf

# ignore office temp files
~$*.doc*
~$*.ppt*
~$*.pdf

# ignore font files
*.TTF
*.otf
Fonts/COPYING-Fandol.txt
Fonts/LICENSE-Source.txt

# ignore data archeaves
*.npz
*.pth

# ignore duplicated files
* [2-9].*